# Keeper Authority Secret Key
# This is required to sign the update_oracle and rebalance transactions
# Export this from Phantom Wallet (it will be a Base58 string like '3xR8...')
KEEPER_SECRET_KEY=pEYxwXpRSdQcwHieJsCQsbyaFUn1bTypTagzEcgMiWh8dTTvcTYoRQru3BfW4XKMpDNixRo1ETyZL9wjKyim3Hb
